src/version.ts
/node_modules
/build
/dist
/test-reports
/coverage
*.zip
.nyc_output
.eslintcache
node_modules/
.DS_Store
Thumbs.db
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
*.log
yarn.lock
pnpm-lock.yaml
.env
*.mjs
.dccache
